[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.1"
garpixcms = "==3.43.0"
django-fsm = "*"
drf-nested-routers = "*"
django-filter = "*"
uwsgi = "==2.0.21"

[dev-packages]

[requires]
python_version = "3.8"
