[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
garpixcms = "==4.6.0-rc24"
django-fsm = "*"
drf-nested-routers = "*"
django-filter = "==21.1"
uwsgi = "==2.0.21"

[dev-packages]

[requires]
python_version = "3.8"
